<head>
    <title>404</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Catamaran&display=swap" rel="stylesheet">
    <link rel="icon" type="img/png" href="/img/favicon.png">
</head>