<header>
    <nav>
        <div class="nav-left">
            <a href="/">
                <img src="/img/logo.png" alt="logo de 404">
            </a>
            <ul>
                <li>
                    <a class="link-button" href="/question">Preguntas</a>
                </li>
                <li>
                    <a class="link-button" href="/question/filter-no-answer">Sin responder</a>
                </li>
                <li>
                    <a class="link-button" href="/user/search">Usuarios</a>
                </li>
            </ul>

        </div>
        <div class="nav-right">
            <img class="userPhoto" src="/user_imgs/<%= userImage %>" alt="imagen de perfil">
            <span> <a class="nombreUsuario" href="/user/<%= userId %>">
                    <%= userName %>
                </a></span>
            <a class="link-button" href="/logout">Cerrar sesión</a>
        </div>
    </nav>
</header>