<form class="search">
    <div class="search-box">
        <img class="search-icon" src="/img/busqueda.png">
        <input class="search-input" type="text" placeholder="Bucar por título/cuerpo de pregunta">
    </div>
    <input type="submit" value="Buscar">
</form>