<!DOCTYPE html>
<html lang="es">

<%- include ('partials/head.ejs') %>
<body>
    <div class="content">

    <%- include ('partials/header-no-login.ejs') %>

    <article>

        <h2 class="account-title">Crea tu cuenta</h2>
        <form action="/create-user" enctype="multipart/form-data" method="POST">

            <label for="email">Correo *</label>
            <input type="email" name="email" required>
           
            <label for="password" >Contraseña (debe contener al menos una mayuscula, una minuscula, un numero y tiene que tener entre 4 y 16 caracteres) *</label>
            <input type="password" pattern = "^(?=\w*\d)(?=\w*[A-Z])(?=\w*[a-z])\S{4,16}$" name="password" required>
            <!--^(?=.*\d)(?=.*[\u0021-\u002b\u003c-\u0040])(?=.*[A-Z])(?=.*[a-z])\S{8,16}$-->
        
            <label for="password2">Confirmar contraseña *</label>
            <input type="password" name="password2" required>
            <label for="name">Nombre para mostrar *</label>
            <input type="text" name="name" required>

            <label for="file">Foto de perfil</label>
            <input type="file" name="file">
        
            <div class="login-buttons">
                <a class="link-button" href="/login">Iniciar sesión</a>
                <input type="submit" value="Crear cuenta"></input>
            </div>

        </form>

        <% if (errorMsg!=null) { %>
            <div class="error"><%= errorMsg %></div>
        <% } %>

   </article>
   </div>
   <%- include ('partials/footer.ejs') %>
</body>

</html>